.container {
    max-width: 600px;
}

.task-list {
    display: flex;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.down-arrow {
    display: flex;
    justify-content: center;
}

.delete-button {
    display: flex;
    justify-content: center;
}

.page-count {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
}

td:first-child {
    width: 100px;
    vertical-align: top;
}
